<!-- events -->
<link href="/css/events.css" rel="stylesheet"/>
<body>
  {{> header }}

  {{> nav }}

  <section class="title">
    <!-- Events Section -->
    <h2>Upcoming Events</h2>
  </section>

  <div class="univs">
    <button type="button" id="btnALL" class="btn btn-outline-dark">ALL</button>
    <button type="button" id="btnADMU" class="btn btn-outline-primary">ADMU</button>
    <button type="button" id="btnDLSU" class="btn btn-outline-success">DLSU</button>
    <button type="button" id="btnUP" class="btn btn-outline-danger">UP</button>
    <button type="button" id="btnUST" class="btn btn-outline-warning">UST</button>
    <button type="button" id="btnFEU" class="btn btn-outline-secondary">FEU</button>    
  </div>

  <div class="events">
    <div class="post" id="postADMU">
      <div>
        <h3>ADMU: On the Wings of Love</h3>
        <p>Posted by: <a href="Profilepage.html">Ate Neo</a> | Date: February 5, 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
        <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
      </div>
    </div>

    <div class="post" id="postDLSU">
      <div>
        <h3>DLSU Cupid's Arrow</h3>
        <p>Posted by: <a href="Profilepage.html">Juan Archer</a> | Date: February 7, 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
        <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
      </div>
    </div>

    <div class="post" id="postUST">
      <div>
        <h3>UST Pusuan</h3>
        <p>Posted by: <a href="Profilepage.html">jUST swimming</a> | Date: February 6, 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
        <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
      </div>
    </div>

    <div class="post" id="postUP">
      <div>
        <h3>UP: Usapang Pagmamahal  </h3>
        <p>Posted by: <a href="Profilepage.html">ate Dili Man</a> | Date: February 3, 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
        <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
      </div>
    </div>

    <div class="post" id="postFEU">
      <div>
        <h3>I love FEU</h3>
        <p>Posted by: <a href="Profilepage.html">Fernando Eduardo Ubas</a> | Date: February 4, 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
        <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
      </div>
    </div>

    <div class="post" id="postADMU">
        <div>
          <h3>ADMU: On the Wings of Love</h3>
          <p>Posted by: <a href="Profilepage.html">Ate Neo</a> | Date: February 5, 2024</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
          <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
        </div>
    </div>

    <div class="post" id="postDLSU">
        <div>
          <h3>DLSU: Taft Love</h3>
          <p>Posted by: <a href="Profilepage.html">Juan Archer</a> | Date: February 7, 2024</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
         <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
        </div>
      </div>
  
      <div class="post" id="postUST">
        <div>
          <h3>UST Heart's Day</h3>
          <p>Posted by: <a href="Profilepage.html">jUST swimming</a> | Date: February 6, 2024</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
          <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
        </div>
      </div>
  
      <div class="post" id="postUP">
        <div>
          <h3>Sunken Garden Haranahan</h3>
          <p>Posted by: <a href="Profilepage.html">ate Dili Man</a> | Date: February 3, 2024</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
         <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
        </div>
      </div>
  
      <div class="post" id="postFEU">
        <div>
          <h3>Piyu are the One</h3>
          <p>Posted by: <a href="Profilepage.html">Fernando Eduardo Ubas</a> | Date: February 4, 2024</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
          <button type="button" class="btn btn-primary">View Event</button>
        </div>
      </div>

      <div class="post" id="postADMU">
        <div>
          <h3>ADMU: On the Wings of Love</h3>
          <p>Posted by: <a href="Profilepage.html">Ate Neo</a> | Date: February 5, 2024</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
          <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
        </div>
    </div>

    <div class="post" id="postDLSU">
        <div>
          <h3>DLSU: Taft Love</h3>
          <p>Posted by: <a href="Profilepage.html">Juan Archer</a> | Date: February 7, 2024</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
          <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
        </div>
      </div>
  
      <div class="post" id="postUST">
        <div>
          <h3>UST Heart's Day</h3>
          <p>Posted by: <a href="Profilepage.html">jUST swimming</a> | Date: February 6, 2024</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
          <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
        </div>
      </div>
  
      <div class="post" id="postUP">
        <div>
          <h3>Sunken Garden Haranahan</h3>
          <p>Posted by: <a href="Profilepage.html">ate Dili Man</a> | Date: February 3, 2024</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
          <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
        </div>
      </div>
  
      <div class="post" id="postFEU">
        <div>
          <h3>Piyu are the One</h3>
          <p>Posted by: <a href="Profilepage.html">Fernando Eduardo Ubas</a> | Date: February 4, 2024</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
          <button type="button" class="btn btn-primary" onclick="redirectToLink()">View Event</button>
        </div>
      </div>
</div> 
<script src="/js/events.js"></script>
</body>