<!-- event page -->
<link href="/css/eventpage.css" rel="stylesheet"/>
<body>
  {{> header }}

  {{> nav }}

  <div class="post" id="postADMU">
    <div>
      <h3>ADMU: On the Wings of Love</h3>
      <p>Posted by: <a href="Profilepage.html">Ate Neo</a> | Date: February 5, 2024</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan rhoncus est eu congue.</p>
    </div>

    <div class="like-dislike">
      <button type="button" class="btn btn-success like-btn">Like <span class="like-count">0</span></button>
      <button type="button" class="btn btn-danger dislike-btn">Dislike <span class="dislike-count">0</span></button>
    </div>

    <div class="comments-section hidden">
      <div class="new-comment">
        <input type="text" placeholder="Add a comment..." class="comment-input">
        <button type="button" class="btn btn-primary btn-add-comment">Add Comment</button>
      </div>
    </div>
  </div>

  <script src="/js/eventpage.js"></script>
</body>